ul, li {
    margin: 0;
    padding: 0;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  .mint-header .mint-button {
    color: #fff;
  }

  #z1 {
    width: 100% !important;
  }